/* for full page */
*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html {
    scroll-behavior: smooth;
  }
/*  removing arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
    background:linear-gradient(to right,#101326,#171428);
}
#header{
   display: flex;
   justify-content: space-between;
   margin: 40px 5% 30px 5%;
}
#header-sticky{
    visibility:hidden;
    backdrop-filter: blur(10px);
    background-color:  transparent;
    width: 90%;
    position: fixed;
    top: 0px;
    padding-top: 40px;
    padding-left:5% ;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
}
#mypic,#mypic-footer{
    border-radius: 50%;
    border: 10px solid #4d1d30;
}
#mypic img,#mypic-footer img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
#left{
    display: flex;
    color: #eaeff7;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}
#left h2{
    margin-left: 10px;
}
#right a{
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
}
#right{
    margin-top: 30px;
}
#right a:hover{
    color: #b6b6b6;
}
#header_for_mobile{
    display: none;
}

/* Footer */

#footer{
    background-color: #0c0c0e;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 7%;
    padding-right: 7%;
  }
  #companylogo_footer{
    padding-left: 0;
    font-size: 30px;
    padding-bottom: 30px;
  }
  .footer_botom{
    display: flex;
    justify-content: space-between;
  }
  .footer_links{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  .footer_links_group{
    display: flex;
    flex-direction: column;
  }
  .footer_links_group h6,.footer_social h6{
    font-size: 24px;
    font-weight: 500;
    Font-family: Roboto;
    font-weight: 400;
    color: #939393;
    margin-bottom: 20px;
  }
  .footer_links_group a{
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    font-size: 18px;
    Font-family: Roboto;
    font-weight: 400;
  }
  .footer_links_group a:hover,#social_links i:hover{
    color: #c4c4c4;
    transition: 0.2s;
  }
  .footer_social{
    width: 250px;
  }
  #social_links{
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
  }
  #social_links a>svg{
    margin-right: 40px;
    cursor: pointer;
    color: white;
  }
  #newsletter{
    margin-top: 20px;
  }
  #newsletter_form{
    display: flex;
  }
  #newsletter_email{
    border: none;
    outline: none;
    border-radius: 9px 0 0 9px;
    padding: 7px;
    Font-family: Roboto;
    font-size: 14px;
  }
  #newsletter_button{
    background-color: green;
    margin-left: -2%;
    border: none;
    outline: none;
    border-radius: 0 9px 9px 0;
    padding: 7px;
    color: white;
    font-size: 16px;
    Font-family: Roboto;
  }
@media screen and (max-width: 500px) {
    #mypic img{
        width: 60px;
        height: 60px;
    }
    #mypic-footer img{
        width: 69px;
        height: 69px;
    }
    #mobile_left{
        display: flex;
        color: #eaeff7;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 15px;
        align-items: center;
    } 
    #header_for_mobile{
        display: block;
        justify-content: space-between;
    }
    #mobile_view_open_menu{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #mobile_sidenav_open{
        padding-top: 5%;
        padding-right: 30px;
    }
    #header,#header-sticky{
        display: none;
    }
    #mobile_sidenav_open{
        font-size:30px;
        cursor:pointer;
    }
    .sidenav {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 400;
        top: 0;
        left: 0;
        background-color: #191b1e;
        overflow-x: hidden;
        padding-top: 60px;
    } 
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    #pic-close{
          padding-left: 30px;
          display: flex;
          justify-content: space-between;
    }
    #pic-close img{
        width: 40px;
        height: 40px;
    }
    #pic-close h2{
        color: #eaeff7;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
        align-items: center;
        margin-left: 14px;
    }
    #pic-close a{
          margin-right: 20px;
          font-size: 40px;
          width: 12px;
    }
    #mob-info-nav{
          color: #c4cfde;
          margin-top: 20px;
          margin-bottom: 30px;
          padding-left: 30px;
          font-family: sans-serif;
          font-weight: 500;
          font-size: 20px;
    }
}
