{%load static%}
{%block content1%}
<div id="header">
    <div id="left">
        <div id="mypic">
            <img src="{%static 'images/d-logo.jpg'%}" alt="error">
        </div>
        <h2>Deski</h2>
    </div>
    <div id="right">
        <a href="index" id="h1" style="color: #ff2759;" onclick="change_col(1)">Home</a>
        <a href="#aboutus" id="h2" onclick="change_col(2)">About us</a>
        <a href="#testimonials" id="h3" onclick="change_col(3)">Testimonials</a>
        <a href="#product" id="h4" onclick="change_col(4)">Product</a>
        <a href="#contact" id="h5" onclick="change_col(5)">Contact us</a>
    </div>
</div>
<div id="header-sticky">
    <div id="left">
        <div id="mypic">
            <img src="{%static 'images/d-logo.jpg'%}" alt="error">
        </div>
        <h2>Deski</h2>
    </div>
    <div id="right">
        <a href="index" id="s1" style="color: #ff2759;" onclick="change_col(1)">Home</a>
        <a href="#aboutus" id="s2" onclick="change_col(2)">About us</a>
        <a href="#testimonials" id="s3" onclick="change_col(3)">Testimonials</a>
        <a href="#product" id="s4" onclick="change_col(4)">Product</a>
        <a href="#contact" id="s5" onclick="change_col(5)">Contact us</a>
        
    </div>
</div>
<div id="header_for_mobile">
    <div id="mobile_view_open_menu">
        <div id="mobile_left">
            <div id="mypic">
                <img src="{%static 'images/header_left.jpg'%}" alt="error">
            </div>
            <h2>Jayant Khanna</h2>
        </div>
        <span id="mobile_sidenav_open" style="color: #ff014f;" onclick="openNav()">&#9776;</span>
    </div>
    <div id="mySidenav" class="sidenav">
        <div id="pic-close">
            <div id="mobile_left">
                <div id="mypic">
                    <img src="{%static 'images/header_left.jpg'%}" alt="error">
                </div>
                <h2>Jayant Khanna</h2>
            </div>
            <a href="javascript:void(0)" style="color: #ff014f;" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        <div id="mob-info-nav">
            <p>Hello, I am Jayant Khanna a Django Full-stack developer</p>
        </div>
        <hr style="width: 80%;margin-left:30px;margin-bottom:35px;color:rgba(255, 255, 255, 0.1);">
        <div id="links-mob-nav">
            <a id="1m" href="index" style="color: #ff014f;" onclick="change_col(1)">Home</a>
            <a id="2m" href="#expierence" onclick="change_col(2)">Expierence</a>
            <a id="3m" href="#resume" onclick="change_col(3)">Resume</a>
            <a id="4m" href="#pricing" onclick="change_col(4)">Pricing</a>
            <a id="6m" href="#contact" onclick="change_col(6)">Contact me</a>
            <a id="5m" href="#aboutme" onclick="change_col(5)">About me</a>
            <a id="7m" class="private" href="privatespace_login" onclick="change_col(7)">Private space</a>
        </div>
    </div>
</div>
<script src="{%static 'js/index.js'%}">
</script>
{%endblock%}